.topbar-wrapper
  .adv-bar
    display inline-block
    vertical-align top
    height 100%

    .adv-bar-button
      background-image none !important
      display inline-block
      width 34px
      height 34px

      .adv-bar-icon
        display block
        margin 9px

      &.current
        background-color #113B57 !important

  .icon-site-switcher
    background-position 9px 9px !important
    background-size 16px 16px !important
    background-image url(https://sstatic.net/stackexchange/img/favicon.ico) !important
    width 34px !important
